In [1]:
import os
import pandas as pd
from pprint import pprint

In [2]:
csv_path = os.path.join('..', '..', 'raw', 'get_it_done_311_requests_datasd.csv')
dirty_df = pd.read_csv(csv_path, low_memory=False)

In [3]:
dirty_df.shape

(275281, 29)

In [4]:
dirty_df['sap_problem_category']

0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN
10                                               NaN
11                                               NaN
12                                               NaN
13                                               NaN
14                                               NaN
15                                               NaN
16                                               NaN
17                                               NaN
18                                               NaN
19                                               NaN
20                                               NaN
21                         TRAFFIC - Traffic Control
22                                               NaN
23                                               NaN
24                                               NaN
25                                               NaN
26                                               NaN
27                                               NaN
28                                               NaN
29                                               NaN
                             ...
275251    SW/CURB - Sidewalk and/or Curb Maintenance
275252                   STREET - Streets and Alleys
275253                     SIGNALS - Traffic Signals
275254       TREE/SUP - Tree/Support/Code Compliance
275255                   STREET - Streets and Alleys
275256                     TRAFFIC - Traffic Control
275257                   STREET - Streets and Alleys
275258       TREE/SUP - Tree/Support/Code Compliance
275259                   STREET - Streets and Alleys
275260       TREE/SUP - Tree/Support/Code Compliance
275261                   STREET - Streets and Alleys
275262                     TRAFFIC - Traffic Control
275263    SW/CURB - Sidewalk and/or Curb Maintenance
275264                   STREET - Streets and Alleys
275265                     TRAFFIC - Traffic Control
275266                   STREET - Streets and Alleys
275267                   STREET - Streets and Alleys
275268       TREE/SUP - Tree/Support/Code Compliance
275269                     TRAFFIC - Traffic Control
275270                     SIGNALS - Traffic Signals
275271                     TRAFFIC - Traffic Control
275272                   STREET - Streets and Alleys
275273       TREE/SUP - Tree/Support/Code Compliance
275274                     SIGNALS - Traffic Signals
275275                     TRAFFIC - Traffic Control
275276                   STREET - Streets and Alleys
275277                   STREET - Streets and Alleys
275278                   STREET - Streets and Alleys
275279                     TRAFFIC - Traffic Control
275280                     TRAFFIC - Traffic Control
Name: sap_problem_category, Length: 275281, dtype: object

In [5]:
dirty_df.count()

service_request_id         275281
parent_case_number         275281
status_description         275281
mobile_web_status          275281
duplicate_verified         275281
override_duplicate         275281
functional_location        249932
referral_email                745
referred_email_update       43935
source                     275280
requested_datetime         275281
closed_date                125670
updated_datetime           158982
open                       275281
closed                     275281
description                273914
agency_responsible         274720
service_name               274244
service_subtype             72326
coordinates                275281
lat                        275281
long                       275281
sap_notification_number    104035
sap_problem_category       156983
sap_problem_code           156947
sap_problem_type           156964
address                    274431
case_record_type           275281
district                   274405
dtype: int64

#### delete columns

In [6]:
dirty_df.drop(['coordinates',
               'referral_email',
               'referred_email_update',
               'parent_case_number',
               'sap_notification_number',
               'sap_problem_code',
              ], axis='columns', inplace=True)

In [7]:
dirty_df.head()

,service_request_id,status_description,mobile_web_status,duplicate_verified,override_duplicate,functional_location,source,requested_datetime,closed_date,updated_datetime,...,agency_responsible,service_name,service_subtype,lat,long,sap_problem_category,sap_problem_type,address,case_record_type,district
0,384125,New,New,0,0,NaN,Mobile,2018-07-29T12:01:00,NaN,NaN,...,Other,Parking,NaN,32.783734,-117.202187,NaN,NaN,"2121 Frankfort St, San Diego, CA 92110, USA",Parking,2.0
1,384123,New,New,0,0,SS-017056,Mobile,2018-07-29T12:01:00,NaN,NaN,...,Other,Parking,NaN,32.743110,-117.210460,NaN,NaN,"2790 Lytton St, San Diego, CA 92110, USA",Parking,2.0
2,384122,New,New,0,0,SS-000449,Mobile,2018-07-29T12:01:00,NaN,NaN,...,Other,Parking,NaN,32.714120,-117.121590,NaN,NaN,"208 19th St, San Diego, CA 92102, USA",Parking,8.0
3,384121,New,New,0,0,SS-000449,Mobile,2018-07-29T12:01:00,NaN,NaN,...,Other,Parking,NaN,32.707370,-117.146590,NaN,NaN,"207 19th St, San Diego, CA 92102, USA",Parking,8.0
4,384120,New,New,0,0,SS-030478,Mobile,2018-07-29T12:01:00,NaN,NaN,...,Other,Parking,NaN,32.584330,-117.027900,NaN,NaN,"468 Marsh Harbor Dr, San Diego, CA 92154, USA",Parking,8.0

#### save to file

In [ ]:
dirty_df.to_csv(os.path.join('..', '..', 'data', 'get_it_done_311_requests_data_subset_.csv'))